{% extends "_base.j2" %}
{% block title %}產品{% endblock %}

{% block head %} {{super()}} {% endblock%}

{% block main %}
<div class="container">
    <table class="table">
    <thead>
    <tr>
      <th scope="col">編號</th>
      <th scope="col">城市</th>
      <th scope="col">洲名</th>
      <th scope="col">國家</th>
      <th scope="col">圖片名稱</th>
    </tr>
  </thead>
  <tbody>
    {% for item in citys%}
        <tr>
            
            {% for key in item %}        
                <td>{{item[key]}}</td>
            {% endfor %}
            
        </tr>
    {% endfor %}
  </tbody>
</table>

    <div class="container d-flex justify-content-center">
        <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
        </nav>
    </div>
</div>
{% endblock %}