{% extends "_base.j2" %}
{% block title %}產品{% endblock %}

{% block head %} {{super()}} {% endblock%}

{% block main %}
    <h1>{{citys[0]['city_name']}}</h1>
    <ul>
    {% for key in citys[0] %}        
        <li>{{citys[0][key]}}</li>
    {% endfor %}
    </ul>
{% endblock %}