<ul class="nav nav-pills">
    <li class="nav-item"><a href="{{url_for('index')}}" class="{{" nav-link active" if request.path=="/" else "nav-link"
            }}" aria-current="page">Home</a></li>
    <li class="nav-item"><a href="{{url_for('product')}}" class="{{" nav-link active" if request.path=="/product"
            else "nav-link" }}">Product</a></li>
    <li class="nav-item"><a href="{{url_for('pricing')}}" class="{{" nav-link active" if request.path=="/pricing"
            else "nav-link" }}">Pricing</a></li>
    <li class="nav-item"><a href="{{url_for('faqs')}}" class="{{" nav-link active" if request.path=="/faqs"
            else "nav-link" }}">FAQs</a></li>
    <li class="nav-item"><a href="{{url_for('about')}}" class="{{" nav-link active" if request.path=="/about"
            else "nav-link" }}">About</a></li>
</ul>